<html>

  <head>
      <script type="text/javascript" src="/static/bootstrap/js/jquery.js" charset="utf-8"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> 
      <!-- Optional theme -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <link rel="stylesheet" href="/static/bootstrap/css/blog.css"> 

      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Company Page</title>
 </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="localhost:8000">Home</a>
          <a class="blog-nav-item" href="/companies/">Companies</a>
          <a class="blog-nav-item" href="#">Technologies</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>

    <div class="container">

      {% block content %}
      {% endblock %}


    </div>
  </body>
</html>




