{% extends "base.html" %}

{% block content %}

    <a href="/new">Add Company</a>

            <div class="panel-group" id="accordion2">
              <h3>Companies</h3>
              <div class="panel panel-default">
                {% for company in companies %}
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse{{company.id}}">
                      <p>{{company.company_name}}</p>
                    </a>
                  </h4>
                </div>
                <div id="collapse{{company.id}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    {{company.description|safe}}
                    <a href="/company/{{company.id}}">Go To {{company.company_name}}'s Page</a>

                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

{% endblock %}

