
{% extends "base.html" %}

{% block content %}

<style type="text/css" media="screen">

    .company-profile {
        width: 250px;
        height: 750px;
    }

    .company-profile #company-logo-img {
        height: 210px;
        width: 210px;
    }

    .stacks-column {
        width: 800px;
    }
</style>

<div class="hero-unit">
    <div class="company-profile">
        <div class="info-column">
            <div id="company-logo-img">
            </div>
            <div id="company-name">
                {{ company.company_name }}        
            </div>
            <div id="company-location">
                {{ company.location }} 
            </div>
        </div>
        <div class="stacks-column">
            {% for tech in technologies %}
                <div id="name">
                  <h1> {{ tech.language }} </h1>
                  <h1> {{ tech.technology_name }} </h1>
                </div>
            {% endfor %}  
        </div>
    </div>
</div>

<input type="button" name="add-tech-btn" value="Add Tech">
{% endblock %}

